  window-rule {
      geometry-corner-radius 12 // Set every window radius to 20
      clip-to-geometry true
      opacity 0.9
      background-effect {
          blur true
          xray false
        }
    }

	layer-rule {
	  match namespace="^noctalia-backdrop"
	  place-within-backdrop true
	}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

	window-rule {
	    match title="^(Open|Choose|Save)(.*)$"
	    match app-id="(xdg-desktop-portal)(.*)"
	    match app-id="filepicker"
	    match app-id="org.freedesktop.impl.portal.desktop.kde"
	    default-column-width { proportion 0.5; }
	    default-window-height { proportion 0.8; }
	    open-floating true
	    open-fullscreen false
	}

	window-rule {
	    match app-id="firefox" title="- (.*) Mozilla Firefox"
	    default-column-width { proportion 0.5; }
	    default-window-height { proportion 0.6; }
	    open-fullscreen false
	}

	window-rule {
	    match app-id="zen-browser" title="- (.*) Zen Browser"
	    default-column-width { proportion 0.5; }
	    default-window-height { proportion 0.6; }
	    open-fullscreen false
	}

    window-rule {
        match app-id="vlc" title="- (.*) VLC media player"
        default-column-width { proportion 0.5; }
        default-window-height { proportion 0.6; }
        open-fullscreen false
    }

	blur {
	  passes 2        // more passes = stronger blur (default: 3)
	  offset 3.0      // sample distance per pass (default: 3.0)
	  noise 0.03      // grain overlay (default: 0.02)
	  saturation 1.0  // color saturation boost (default: 1.5)
	}
